<div>
  <h2>edit entry</h2>
  <form action="/entries/edit/{{entry._id}}" method="POST">
    <div>
      <label for="amount">Amount</label>
      <input name="amount" type="number" min="0.00" step="any" placeholder="0.00" value="{{entry.amount}}" />

      {{!--<label for="date">Date</label>
      <input type="date" name="date" value="{{entry.date}}" />--}}
    </div>
    <div>
      <div>
        <fieldset>
          <legend>Description</legend>
          <textarea name="description" rows="3">{{entry.description}}</textarea>
        </fieldset>
        <div>
          <label for="category">Category</label>
          <select name="category">
            <option value="" selected disabled hidden>Choose Category</option>
            {{#each categories}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <button type="submit">EDIT</button>
  </form>
</div>