<h2>Entries</h2>

{{#each entries}}
<div>
  <p>Amount: {{amount}}</p>
  {{!--<p>Date: {{date}}</p>--}}
  <p>Category: {{categoryId.name}}</p>
  <p>Description: {{description}}</p>
  <form action="/entries/edit/{{_id}}" method="GET">
    <button type="submit">EDIT</button>
  </form>
  <form action="/entries/delete/{{_id}}" method="post">
    <button type="submit">DELETE</button>
  </form>
</div>
{{/each}}