<div class="privatePages col-xs-12 col-md-6">
  <h2>Edit single entry</h2>
  <form action="/entries/edit/{{entry._id}}" method="POST">
    <div>
      <label for="amount">Value</label>
      <input name="amount" type="number" min="0.00" step="any" placeholder="0.00" value="{{entry.amount}}" />

      {{!--<label for="date">Date</label>
      <input type="date" name="date" value="{{entry.date}}" />--}}
    </div>
    <div>
      <div>
        <label for="description">Description</label>
        <textarea name="description" rows="3">{{entry.description}}</textarea>
        <div>
          <label for="category">Category</label>
          <select name="category">
            <option value="" selected disabled hidden>Choose Category</option>
            {{#each categories}}
            <option value="{{name}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
    </div>
    <button class="btn btn-secondary rounded-pill py-1 px-3" type="submit">Save changes</button>
  </form>
</div>